*.~vsdx
.vs/
bin/
obj/
App.config

/SimpleTrader/.idea/.idea.SimpleTrader/.idea/encodings.xml
/SimpleTrader/.idea/.idea.SimpleTrader/.idea/indexLayout.xml
/SimpleTrader/.idea/.idea.SimpleTrader/.idea/vcs.xml
